.header1 {
  background-color: rgb(212, 207, 207);
  width: 100%;
  margin-top: 50px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 569px;
}

.heading {
  margin-left: 50px;
}

p.stat {
  margin-left: 40px;
}

.topBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container {
  padding-top: 20px;
  height: 100%;
  width: 110%;
  position: relative;
  margin-left: 50px;
}

.summaryTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

span.tab {
  background-color: transparent;
  color: black;
  padding: 2px;
  border-radius: 3px;
}

.main {
  width: 110%;
}

.rowHeader {
  background-color: rgb(243, 243, 243);
  margin-top: 15px;
}

button.del {
  padding: 5px;
  border-radius: 3px;
  border: .25px solid red;
  color: red;
  transition: all 0.3s ease; /* Smooth transition */
}

button.del:hover {
  background-color: red;
  color: white;
  border-color: darkred;
}

button.edit {
  padding: 5px;
  border-radius: 3px;
  border: .25px solid rgb(252,185,0);
  color: #c08d02;
  transition: all 0.3s ease; /* Smooth transition */
}

button.edit:hover {
  background-color: rgb(252, 185, 0);
  color: white;
  border-color: orange;
}

.col {
  border: 1px solid rgb(154, 201, 216);
  display: flex;
  align-items: center;
  padding: 5px;
}